{% extends "explore/base.html" %}
{% load humanize %}
{% block section %}
<section class="filter-sections">
	<form method="GET" action=".">
		<div class="search-form">
			<div class="search-box">
				{% if 'search_post' in request.get_full_path %}
					<input class="search-text" type="text" name="search_post" value="{{ request.GET.search_post }}" placeholder="search your curiosity">
				{% else %}
					<input class="search-text" type="text" name="search_post" placeholder="search your curiosity">
				{% endif %}
				<button class="search-btn" type="submit">
					<i class="fas fa-space-shuttle"></i>
				</button>
			</div>
		</div>
		<div class="audience-form">
			<div class="audience-selection">
				{% if 'audience_filter' not in request.get_full_path or request.GET.audience_filter == '' or 'search_post' not in request.get_full_path %}			
				<button class="audience-btn-all-selected" type="submit" value="" name="audience_filter">
					all
				</button>
				{% else %}
				<button class="audience-btn-all" type="submit" value="" name="audience_filter">
					all
				</button>
				{% endif %}
				{% if  'audience_filter=BEG' in request.get_full_path %}	
				<button class="audience-btn-beg-selected" type="submit" value="BEG" name="audience_filter">
					beginner
				</button>
				{% else %}
				<button class="audience-btn-beg" type="submit" value="BEG" name="audience_filter">
					beginner
				</button>
				{% endif %}
				{% if 'audience_filter=INT' in request.get_full_path%}
				<button class="audience-btn-int-selected" type="submit" value="INT" name="audience_filter">
					intermediate
				</button>
				{% else %}
				<button class="audience-btn-int" type="submit" value="INT" name="audience_filter">
					intermediate
				</button>
				{% endif %}
				{% if  'audience_filter=EXP' in request.get_full_path %}
				<button class="audience-btn-exp-selected" type="submit" value="EXP" name="audience_filter">
					expert
				</button>
				{% else %}
				<button class="audience-btn-exp" type="submit" value="EXP" name="audience_filter">
					expert
				</button>
				{% endif %}
			</div>		
		</div>
	</form>
	
	
</section>

<section class="posts-section">
	<div class="posts-content">
		{% for post in posts %}
		<div class="post-card-up">
			<div class="pic-name-date-up">
				<img class="small-prof-pic" src="{{ post.author.profile.image.url }}">
				<p class="post-author-and-date-up">
					<a class="post-author-and-date-up" href="{% url 'user-posts' post.author.username %}">{{ post.author }}, {{ post.date_posted|date:"N d, Y" }}</a>
				</p>
			</div>
			<div class="post-title-up">
				<h2><a class="post-title-link-up" href="{% url 'post-detail' post.id post.title %}">{{ post.title|truncatechars:39 }}</a></h2>
			</div>
			<div class="post-audience-up-div">
				<p class="post-audience-up">{{ post.audience }}</p>
			</div>
			
			<div class=post-content-container-up>
				<p class="post-content-up">{{ post.content|truncatewords_html:45|safe }}
				</p>
			</div>
		</div>
		{% if user.is_authenticated %}
		<div class="readability-card-up">
			<div class="like-card-container">
				
				<form action="{% url 'like-post' %}" method="POST" class="like-form" id="{{ post.id }}">
					{% csrf_token %}
					<input type="hidden" name="post_id" value="{{ post.id }}">
					<button type="submit" class="like-btn{{ post.id }}">
						{% if user not in post.likes.all %}
							<i id="heart-ic" class="far fa-heart"></i>
						{% else %}
							<i id="empty-heart-ic" class="fas fa-heart"></i>
						{% endif %}
					</button>
					<span><i id="heart-ic-sp" class="fas fa-heart"></i></span>
					<span class="like-count{{ post.id }}">{{ post.likes.count|intcomma }}</span>
				</form>
			</div>
			<div class="attr-text-container">
				{% if post.helpfuls.count == post.visual_likes.count and post.helpfuls.count == post.concise_likes.count %}

					<p class='h-text'> &nbsp; helpful &nbsp;</p> 

				{% elif post.helpfuls.count > post.visual_likes.count and post.helpfuls.count > post.concise_likes.count %}

					<p class='h-text'> &nbsp; helpful &nbsp; </p>

				{% elif post.visual_likes.count > post.helpfuls.count and post.visual_likes.count > post.concise_likes.count %}

					<p class='v-text'> &nbsp; visual &nbsp; </p>

				{% elif post.concise_likes.count > post.visual_likes.count and post.concise_likes.count > post.helpfuls.count %}

					<p class='c-text'> &nbsp; concise &nbsp; </p>

				{% elif post.concise_likes.count == post.visual_likes.count %}

					<p class='v-text'> &nbsp; visual &nbsp; </p>
				{% endif %}

			</div>
		</div>
		{% endif %}
		{% endfor %}

		<div class="pagination-container-up">
			{% if is_paginated %}
				{% if page_obj.has_previous %}
					<a class='page-1-link' href="?page=1">
						<i id="ff" class="fas fa-fast-backward"></i></a>
					<a class='page-link' href="?page={{ page_obj.previous_page_number }}">
						<i id="ff" class="fas fa-backward"></i></a>
				{% endif %}

				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<a class='page-current-link' href="?page={{ num }}">{{ num }}</a>
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<a class='page-around-link' href="?page={{ num }}">{{ num }}</a>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<a class='page-next-link' href="?page={{ page_obj.next_page_number }}">
						<i id="ff" class="fas fa-forward"></i></a>
					<a class='page-last-link' href="?page={{ page_obj.paginator.num_pages }}"><i id="ff" class="fas fa-fast-forward"></i></a>
				{% endif %}

			{% endif %}
		</div>
</section>

<script type="text/javascript">
	$( document ).ready(function() {

		$('.like-form').submit(function(e){
			e.preventDefault(); // prevent from refreshing page

			const post_id = $(this).attr('id');
			
			const likeChild = $(`.like-btn${post_id}`).children().attr('id');

			const url = $(this).attr('action');

			let res;
			const likes = $(`.like-count${post_id}`).text();
			const trimCount = parseInt(likes);
			console.log(likes)

			$.ajax({
				type: 'POST',
				url: url,
				data: {
					'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
					'post_id': post_id,
				},
				success: function(response) {
					if (likeChild === 'empty-heart-ic') {
						$(`.like-btn${post_id}`).children().removeClass("fas fa-heart").addClass("far fa-heart");
						$(`.like-btn${post_id}`).children().attr("id", "heart-ic");
						
						res = trimCount - 1
					} else {
						$(`.like-btn${post_id}`).children().removeClass("far fa-heart").addClass("fas fa-heart");
						$(`.like-btn${post_id}`).children().attr("id", "empty-heart-ic");
						res = trimCount + 1
					}
					$(`.like-count${post_id}`).text(res);
				},
				error: function(response) {
					console.log('error', response);
				}
			})
		});
	});

</script>

{% endblock section %}