{% extends "land/base.html" %}

{% block section %}
	<div class='content-section'>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="join-form-legend">do you really want to delete: <span>{{ object.title }}</span>?</legend>
				<div class="form-container">
				</div>
			</fieldset>
			<div class="form-group-down">
				<button class='delete-btn' type="submit">yes, delete!</button>
			</div>
			<div class="login-option">
			<small class="login-option-text">don't want to? <a class="login-option-link-ml-2" href="{% url 'post-detail' object.id object.title %}">cancel</a></small>
			</div>
		</form>
	</div>
{% endblock section %}