{% extends "land/base.html" %}
{% load crispy_forms_tags %}

{% block section %}
	<div class='content-section'>
		<form method="POST" class="login-form">
			{% csrf_token %}
			<fieldset class="form-group-create">
				<div class="form-container-create">
					{{ form.media }}
					{{ form|crispy }}
				</div>
				<div class="form-group-down-create">
					<button class='post-btn' type="submit">post</button>
				</div>
			</fieldset>
			
		</form>
	</div>
	<script type="text/javascript">
		document.getElementById("id_title").placeholder = "Title";
	</script>
{% endblock section %}