{% extends "land/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block section %}
	<div class='content-section'>
		<form method="POST" class="reset-form">
			{% csrf_token %}
			<fieldset class="form-group-reset">
				<div class="form-container-reset">
					{{ form|crispy }}
				</div>
				<div class="form-group-down-reset">
					<button class='reset-btn' type="submit">Request Password Reset</button>
				</div>
			</fieldset>
		</form>
		<div class="rocket-stages-container">
			<img class="s1-img" src="{% static 'images/rocket_s1.svg' %}">
			<img class="s2-img" src="{% static 'images/rocket_s2.svg' %}">
			<img class="s3-img" src="{% static 'images/rocket_s3.svg' %}">
			
		</div>
	</div>
	<script type="text/javascript">
		document.getElementById("id_email").placeholder = "Enter your Email";
	</script>
{% endblock section %}