{% extends "land/base.html" %}
{% load crispy_forms_tags %}

{% block section %}
	<div class='content-section'>
		<form method="POST" class="confirm-form">
			{% csrf_token %}
			<fieldset class="form-group-confirm">
				<div class="form-container-confirm">
					{{ form|crispy }}
				</div>
			</fieldset>
			<div class="form-group-down-confirm">
				<button class='reset-btn' type="submit">Reset Password</button>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		document.getElementById('id_new_password1').placeholder = 'New Password'
		document.getElementById('id_new_password2').placeholder = 'Confirm Password'
	</script>
{% endblock section %}