{% extends "land/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block section %}
	<div class='content-section'>
		<div class="media-card">
			<div class="media-body">
				<img class="round-account-img" src="{{ user.profile.image.url }}" alt="image">
				<h2 class='account-heading'>{{ user.username }}</h2>
				<p class="account-email-text">{{ user.email }}</p>
				<div class="socials-images">
					<a href="{{ user.profile.fb_link }}" target="_blank">
						<i id="fb-logo" class="fab fa-facebook-f"></i>
					</a>
					<a href="{{ user.profile.linkedin_link }}" target="_blank">
						<i id="in-logo" class="fab fa-linkedin-in"></i>
					</a>
					<a href="{{ user.profile.twitter_link }}" target="_blank">
						<i id="tw-logo" class="fab fa-twitter"></i>
					</a>
					<a href="{{ user.profile.insta_link }}" target="_blank">
						<i id="ta-logo" class="fab fa-instagram"></i>
					</a>					
				</div>
			</div>
		</div>
		<!-- USER POSTS -->
		<div class="yp-container">
			<i id="left-arrow-rocket" class="fas fa-angle-double-right"></i>
			<h2 id="yp-h2">Your Posts</h2>
			<i id="right-arrow-rocket" class="fas fa-angle-double-right"></i>
		</div>
		<div class="yp-posts-container">
			{% for post in posts %}
			<div class="post-card-container">
				<h2><a class="post-title-link" href="{% url 'post-detail' post.id post.title %}">{{ post.title }}</a></h2>	
				<div class="stats" >
					<i id="empty-heart-ic" class="fas fa-heart"></i>
					<span class="like-count{{ post.id }}">{{ post.likes.count|intcomma }}</span>
					<i id="unhelp-ic" class="fas fa-thumbs-up"></i>
					<span class="helpful-count{{ post.id }}">{{ post.helpfuls.count|intcomma }}</span>
					<i id="bla-ic" class="fas fa-lightbulb"></i>
					<span class="visual-count{{ post.id }}">{{ post.visual_likes.count|intcomma }}</span>
					<i id="wor-ic" class="fas fa-keyboard"></i>
					<span class="concise-count{{ post.id }}">{{ post.concise_likes.count|intcomma }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- FORM -->
		<form method="POST" enctype="multipart/form-data" class="profile-form">
			{% csrf_token %}
			<fieldset class="form-group-profile">
				<div class="form-container-profile">
					{{ u_form|crispy }}
					{{ p_form|crispy }}
				</div>
				<div class="form-group-down-profile">
					<button class='update-btn' type="submit">update</button>
				</div>
			</fieldset>
			
		</form>

	</div>

<script type="text/javascript">
	
	$( document ).ready(function() {
		$("label[for='id_fb_link']").text('').append('<i class="fab fa-facebook-square"></i>')
		$("label[for='id_linkedin_link']").text('').append('<i class="fab fa-linkedin"></i>')
		$("label[for='id_twitter_link']").text('').append('<i class="fab fa-twitter-square"></i>')
		$("label[for='id_insta_link']").text('').append('<i class="fab fa-instagram-square"></i>')
	
	});

</script>

{% endblock section %}