@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	box-sizing: : border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

html {
  scroll-behavior: smooth;
 }

li, a, button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 2;
  	width: 100%;
}


.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.4s ease 0s;
	border-bottom: 3px solid transparent;
}

.nav_links a:hover {
	border-bottom: 3px solid #d63a3a;
}

.nav_links li a:hover {
	color: #2ee2e6;
}

.loginButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(58, 214, 97);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.loginButton:hover {
	background-color: rgba(58, 214, 97, 0.5);
}

.logoutButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(255, 62, 28);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.logoutButton:hover {
	background-color: rgba(255, 62, 28, 0.5);
}

.posts-content {
	position: relative;
	width: 95%;
	display: table;
	height: 95%;
}

.post-card, .post-card-detail {
	display: row;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 45%;
	height: 200px;
	margin-left: 30%;
	margin-top: 40px;
}

.post-card-detail {
	margin-top: 80px;
}

.post-content-container {
	display: block;
	padding: 9px 25px;
}

.posts-content-d {
	display: block;
	width: 95%;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	align-items: center;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 70px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.pic-name-date {
	display: flex;
	padding: 9px 13px;
}

.small-prof-pic {
	display: inline-flex;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.post-author-and-date {
	display: inline-flex;
	padding-left: 5px;
	align-items: center;
	opacity: 0.6;
	font-size: 12px;
	color: blue;
}

.readability-card {
	display: flex;
	position: relative;
	justify-content: center;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 45%;
	margin-left: 30%;
	margin-bottom: 10px;
	transition: all 0.3s ease 0s;
}

.readability-card:hover {
	border-bottom: 3px solid #4287f5;
	border-top: 3px solid #4287f5;
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.2);
}

.readability-card-container {
	margin: 10px;
	display: flex;
	flex-direction: row-reverse;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 2px;
	background: linear-gradient(to right, #f00, #ff0, #0f0);
}

.readability-card-container input {
	display: none;
}

.readability-card-container label {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	background: white;
	color: black;
	font-size: 14px;
	border-right: 1px solid black;
}

.readability-card-container input[type="radio"]:hover ~ label,
.readability-card-container input[type="radio"]:checked ~ label
 {
	background: transparent;

}

.post-card:hover + .readability-card {
	border-bottom: 3px solid #4287f5;
}


.post-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-title-link {
	padding: 0px 25px;
	font-size: 25px;
	font-weight: 900;
}

.post-audience, .post-content {
	padding: 9px 25px;
	margin-top: -10px;
}

.post-audience {
	color: #ff6652;
	font-size: 14px;
}

.round-account-img-p {
	display: block;
	border-radius: 100%;
	width: 32%;
	height: 32%;
	transition: all 0.3s ease 0s;
}

.round-account-img-p:hover {
	border-bottom: 3px solid #d63a3a;
}

.search-btn {
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	cursor: pointer;

}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f3640;
	margin-top: 85px;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-text {
	width: 250px;
	padding: 0 6px;
}

.search-box:hover > .search-btn {
	color: rgb(58, 214, 97);
	transform: rotate(-90deg);
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	font-family: "Roboto", sans-serif;
}

.filter-sections {
	display: block;
	justify-content: center;
	align-items: center;
}

.fas {
	background-color: #2f3640;
}

.audience-form {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.audience-btn-all, .audience-btn-beg, .audience-btn-int, .audience-btn-exp {
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	padding: 9px 25px;
	width: 150px;
	transition: 0.5s ease 0s;
	background-color: #c4c4c4;

}

.audience-btn-all-selected, .audience-btn-beg-selected, .audience-btn-int-selected, .audience-btn-exp-selected {
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	padding: 9px 25px;
	width: 150px;
	transition: 0.5s ease 0s;
	background-color: #FFDC00;
}

.audience-btn-all-selected {
	background-color: none;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-all-selected {
	border-bottom: 5px solid black;
	background-color: #FFDC00;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-selection {
	background-color: #c4c4c4;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}


.audience-btn-beg-selected {
	border-bottom: 5px solid #5ecf2d;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-int-selected {
	border-bottom: 5px solid #f58d16;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-exp-selected {
	border-bottom: 5px solid #f53716;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-all:hover {
	border-bottom: 5px solid black;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-beg:hover {
	border-bottom: 5px solid #5ecf2d;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-int:hover {
	border-bottom: 5px solid #f58d16;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-exp:hover {
	border-bottom: 5px solid #f53716;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

#scroll_height {
	position: relative;

  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  border: none;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scroll-div {
	position: fixed;
  	top: 60px;
  	left: 0;
  	z-index: 2;
  	width: 100%;
  	height: 20px;
	display: flex;
	

}

.post-card-container-d {
	border-right: 3px solid lightblue;
	border-left: 3px solid lightblue;
	border-bottom: 3px solid lightblue;
}