@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	box-sizing: : border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

html {
  scroll-behavior: smooth;
 }

li, a, button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 2;
  	width: 100%;
}


.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.4s ease 0s;
	border-bottom: 3px solid transparent;
}

.nav_links a:hover {
	border-bottom: 3px solid #d63a3a;
}

.nav_links li a:hover {
	color: #2ee2e6;
}

.loginButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(58, 214, 97);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.loginButton:hover {
	background-color: rgba(58, 214, 97, 0.5);
}

.logoutButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(255, 62, 28);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.logoutButton:hover {
	background-color: rgba(255, 62, 28, 0.5);
}

.posts-content {
	position: relative;
	width: 95%;
	display: table;
	height: 95%;
}

.post-card, .post-card-detail {
	display: row;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 45%;
	height: 200px;
	margin-left: 30%;
	margin-top: 40px;
}

.post-card {
	border: 3px solid midnightblue;
	border-bottom: none;
}

.post-card-detail {
	margin-top: 80px;
}

.post-content-container {
	display: block;
	padding: 9px 25px;
	padding-bottom: 25px;
}

.posts-content-d {
	display: block;
	width: 95%;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	align-items: center;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 90px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.pic-name-date {
	display: flex;
	padding: 9px 13px;
}

.small-prof-pic {
	display: inline-flex;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.post-author-and-date {
	display: inline-flex;
	padding-left: 5px;
	align-items: center;
	opacity: 0.6;
	font-size: 12px;
	color: blue;
	width: 100%;
}

.readability-card, .readability-card-detail {
	display: flex;
	position: relative;
	justify-content: center;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 45%;
	margin-left: 30%;
	margin-bottom: 10px;
	transition: all 0.3s ease 0s;
	border-top: 2px solid #c71b04;
	border-left: 3px solid midnightblue;
	border-right: 3px solid midnightblue;
	border-bottom: 3px solid midnightblue;
}

.readability-card-detail {
	display: inline-flex;
	width: 40%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 0%;
	align-items: center;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	border-top: none;
	background-color: #FFDC00;
}

.readability-card:hover {
	border-top: 3px solid #c71b04;
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.2);
}


.like-form, .helpful-form, .visual-form, .concise-form {
	background-color: transparent	;
}

#heart-ic:hover, #unhelp-ic:hover {
	transform: scale(1.3);
}

#empty-heart-ic:hover, #unhelp-ic:hover {
	transform: scale(0.8);
}

.readability-card-detail:hover #heart-ic {
	transform: scale(1.3);
}

.readability-card-detail:hover #help-ic {
	transform: scale(1.3);
}

.readability-card-detail:hover #vis-ic {
	transform: scale(1.3);
}

.readability-card-detail:hover #con-ic {
	transform: scale(1.3);
}

.readability-card-detail:hover #empty-heart-ic {
	transform: scale(0.8);
}

.readability-card-detail:hover #bla-ic {
	transform: scale(0.8);
}

.readability-card-detail:hover #wor-ic {
	transform: scale(0.8);
}

.readability-card-detail:hover #unhelp-ic {
	transform: scale(0.8);
}

.like-card-container, .like-card-container-detail {
	margin: 10px;
	display: flex;
	background-color: transparent;
	width: 100%;
	justify-content: center;
	transition: all 0.4s ease 0s;
}

.like-card-container-detail {
	justify-content: space-between;
}

.like-card-container {
	width: 55.5%;
	justify-content: flex-end;
}

.attr-text-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 44.5%;
}

.attr-text-container p {
	display: flex;
	align-content: center;
	margin-right: 10px;
	border-radius: 5%;
	letter-spacing: 1px;
	font-weight: bold;
}

.h-text {
	background-image: linear-gradient(to right bottom, #58daf8, #15e4e8, #2eebc6, #6fed99, #aceb67, #b8ea5f, #c5e957, #d1e850, #b1ed6d, #93f08a, #77f1a6, #61f0c0);
}

.v-text {
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.c-text {
	background-image: linear-gradient(to right top, #70acfa, #3ac3ff, #22d6f6, #55e6e5, #8cf3d1, #9ef7cf, #b0fbce, #c0ffce, #b4ffd9, #aaffe4, #a2ffef, #9cfff9);
}

.like-form button, span {
	border: none;
	background-color: transparent;
}

.helpful-form button, span {
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.visual-form button, span {
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.concise-form button, span {
	border: none;
	background-color: transparent;
	font-weight: bold;
}

#heart-ic-sp, #heart-ic, #empty-heart-ic, #help-ic, #vis-ic, #con-ic, #unhelp-ic, #bla-ic, #wor-ic {
	border: none;
	background-color: transparent;
}

#heart-ic, #empty-heart-ic, #help-ic, #vis-ic, #con-ic, #unhelp-ic, #bla-ic, #wor-ic {
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

#empty-heart-ic, #unhelp-ic, #bla-ic, #wor-ic {
	color: #c71b04;
}

#heart-ic:hover, #help-ic:hover, #vis-ic:hover, #con-ic:hover {
	color: #c71b04;
}

.post-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-title-link {
	display: inline-flex;
	padding: 0px 25px;
	font-size: 25px;
	font-weight: 900;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-audience, .post-content {
	padding: 9px 25px;
	margin-top: -10px;
}

.post-audience {
	color: #ff6652;
	font-size: 14px;
}

.round-account-img-p {
	display: block;
	border-radius: 100%;
	width: 32%;
	height: 32%;
	transition: all 0.3s ease 0s;
}

.round-account-img-p:hover {
	border-bottom: 3px solid #d63a3a;
}

.search-btn {
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	cursor: pointer;

}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f3640;
	margin-top: 85px;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-text {
	width: 250px;
	padding: 0 6px;
}

.search-box:hover > .search-btn {
	color: rgb(58, 214, 97);
	transform: rotate(-90deg);
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	font-family: "Roboto", sans-serif;
}

.filter-sections {
	display: block;
	justify-content: center;
	align-items: center;
}

.fas {
	background-color: #2f3640;
}

.audience-form {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.audience-btn-all, .audience-btn-beg, .audience-btn-int, .audience-btn-exp {
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	padding: 9px 25px;
	width: 150px;
	transition: 0.5s ease 0s;
	background-color: #c4c4c4;

}

.audience-btn-all-selected, .audience-btn-beg-selected, .audience-btn-int-selected, .audience-btn-exp-selected {
	font-family: "Roboto", sans-serif;
	border: none;
	cursor: pointer;
	padding: 9px 25px;
	width: 150px;
	transition: 0.5s ease 0s;
	background-color: #FFDC00;
}

.audience-btn-all-selected {
	background-color: none;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-all-selected {
	border-bottom: 5px solid black;
	background-color: #FFDC00;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-selection {
	background-color: #c4c4c4;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}


.audience-btn-beg-selected {
	border-bottom: 5px solid #5ecf2d;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-int-selected {
	border-bottom: 5px solid #f58d16;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-exp-selected {
	border-bottom: 5px solid #f53716;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-all:hover {
	border-bottom: 5px solid black;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-beg:hover {
	border-bottom: 5px solid #5ecf2d;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-int:hover {
	border-bottom: 5px solid #f58d16;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.audience-btn-exp:hover {
	border-bottom: 5px solid #f53716;
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

#scroll_height {
	position: relative;

  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  border: none;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3eb9c7;
}

.scroll-div {
	position: fixed;
  	top: 60px;
  	left: 0;
  	z-index: 2;
  	width: 100%;
  	height: 20px;
	display: flex;
	

}

.post-card-detail-d, .readability-card-detail{
	border-right: 3px solid midnightblue;
	border-left: 3px solid midnightblue;
	border-bottom: 3px solid midnightblue;
}


.post-card-detail-d {
	border-top: 3px solid midnightblue;
}

.edit-delete-container {
	display: inline-flex;
	position: relative;
	justify-content: space-around;
	width: 10%;
	align-items: center;
}

#edit-link, #delete-link {
	position: relative;
	background: white;
	color: lightgray;
}

#edit-link:hover {
	color: #ebbc02;
	transform: scale(2.1);
}

#delete-link:hover {
	color: red;
	transform: scale(2.1);
}

#post-create-link {
	background: white;
	transform: scale(1.5);
	transition: all 0.4s ease 0s;
	color: #63bf2e;
	border-radius: 50%;
}

#post-create-link:hover {
	transform: scale(2);
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.pagination-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	padding-left: 32px;

}

.page-1-link, .page-link, .page-current-link, .page-around-link, .page-next-link, .page-last-link {
	width: fit-content;
	padding: 2px 3%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 2px;
	margin-bottom: 10px;
	color: #261C15;
	transition: all 0.4s ease 0s;
}

.page-1-link:hover, .page-link:hover, .page-around-link:hover, .page-next-link:hover, .page-last-link:hover {
	border-bottom: 2px solid black;
}


.page-current-link {
	border-radius: 5px;
	background-color: #F05D23;
}

#ff {
	background-color: white;
}

.more-user-posts-h2 {
	margin-top: 80px;
	border-top: thin solid #887aff;
	border-bottom: thin solid #887aff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	font-style: italic;
	justify-content: center;
}

#user-name-h2 {
	background: transparent;
	color: #B4B4FF;
	padding-left: 5px;
	padding-right: 5px;
}

.post-author-and-date i {
	padding-left: 9px;
}

#fb-logo {
	color: #1877F2;
}

#in-logo {
	color: #2867B2;
}

#tw-logo {
	color: #5DA9DD;
}

#ta-logo {
	color: #AC438D;
}

.posts-bio-container {
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 25% 75%;
	padding: 20px 3%;

}

.user-bio-quote, .user-quote, .user-socials, .user-bio-pic {
	padding: 10px;
}

.user-bio-quote {
	background-color: #2d3b4f;
	border-radius: 20px;
	height: fit-content;
	position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20%;
  bottom: auto;
  overflow: hidden;
}

.user-greeting-h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-bottom: 1px solid lightgray;
	color: whitesmoke;
}

.user-bio-pic {
	display: inline-flex;
	background-color: transparent;
	align-items: center;
}

.user-bio-pic p {
	padding-left: 10px;
	background-color: transparent;
	font-size: 12px;
	color: white;
}

.user-quote {
	display: flex;
	margin-top: 15px;
	background-color: #ffde85;
	border-radius: 5px;
	justify-content: center;
}

.user-quote p {
	font-size: 20px;
	font-style: italic;
	color: gray;
}

.quote-p {
	background-color: transparent;
}

.quote-p i {
	background-color: transparent;
	padding: 4px;
}

.user-socials {
	display: flex;
	justify-content: space-evenly;
	background-color: transparent;
	margin-top: 20px;
	border-top: 1px solid lightgray;
}

.user-socials a, i {
	background-color: transparent;
}

.user-socials i {
	color: white;
}

.post-card-up {
	display: grid;
	grid-template-rows: 20% 35% 10% 35%;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	height: 200px;
	margin-left: 5%;
	margin-top: 40px;
	border: 3px solid midnightblue;
	padding: 9px 13px;
}

.readability-card-up {
	display: flex;
	justify-content: center;
	position: relative;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	margin-left: 5%;
	transition: all 0.3s ease 0s;
	border-left: 3px solid midnightblue;
	border-right: 3px solid midnightblue;
	border-bottom: 3px solid midnightblue;
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.2);
	padding: 0px 13px;
}

.pic-name-date-up, .post-title-up {
	display: inline-flex;
	align-items: center;
}

.pic-name-date-up {
	margin-top: 15px;
}

.post-title-up {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 12px;
}

.post-title-up h2 {
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-author-and-date-up {
	display: inline-flex;
	align-items: center;
	opacity: 0.6;
	font-size: 12px;
	color: blue;
	width: 100%;
}

.post-title-link-up {
	font-size: 25px;
	font-weight: 900;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-audience-up-div {
	display: inline-flex;
	height: fit-content;
	margin-left: 12px;
}

.post-audience-up {
	color: #ff6652;
	font-size: 14px;
}

.post-content-container-up {
	margin-left: 12px;
	margin-right: 12px;
}

.pagination-container-up {
	display: flex;
	margin-left: 5%;
	margin-top: 20px;
	justify-content: center;
}