@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	box-sizing: : border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

html {
  scroll-behavior: smooth;
 }

li, a, button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 2;
  	width: 100%;
}


.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.4s ease 0s;
	border-bottom: 3px solid transparent;
}

.nav_links a:hover {
	border-bottom: 3px solid #d63a3a;
}

.nav_links li a:hover {
	color: #2ee2e6;
}

.loginButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(58, 214, 97);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.loginButton:hover {
	background-color: rgba(58, 214, 97, 0.5);
}

.logoutButton {
	padding:  9px 25px;
	margin-right: 20px;
	background-color: rgb(255, 62, 28);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.logoutButton:hover {
	background-color: rgba(255, 62, 28, 0.5);
}

.profileButton {
	padding:  9px 15px;
	margin-right: -50px;
	background-color: rgb(237, 76, 76);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.profileButton:hover {
	background-color: rgba(237, 76, 76, 0.5);
}

.learnButton {
	padding:  9px 25px;
	margin-left: 25%;
	margin-top: 20px;
	background-color: rgb(20, 124, 81);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	color: #FFFFFF;
}

.learnButton:hover {
	background-color: rgba(20, 124, 81, 0.7);
	border-bottom: 3px solid #db0280;
}


.textBox h2, .textBox-p {
	padding-left: 25%;
	transition: all 0.4s ease 0s;
}

.textBox h2 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.5em;
	color: #000;
	text-decoration: none;
	padding-top: 90px;
}

.textBox h2 span {
	color: #017143;
	font-size: 1.2em;
	font-weight: 900;
	transition: all 0.4s ease 0s;
}

.textBox span:hover {
	border-bottom: 3px solid #d63a3a;
	cursor: none;
}

.textBox p {
	font-family: "Roboto", sans-serif;
	font-weight: 0;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

.imgBox {
	padding-right: 25%;
	padding-left: 15%;
	margin-right: 0;
	transition: all 1s ease 0s;
	border-right: 3px solid #000;
	margin-top: 40px;
}

.imgBox:hover + .card {
	display: inline-flex;
	border-bottom: 3px solid #d63a3a;
}

.card {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-right: 5%;
	overflow: visible;
	padding-right: 2%;
	padding-top: 25%;
	font-family: "Roboto", sans-serif;
	justify-content: space-between;
	transition: all 0.4s ease 0s;
}

.card:hover {
	border-bottom: 3px solid #ffe51f;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.introCardContainer {
	padding: 2px 16px;
	padding-bottom: 12px;
}


ol.stageList {
	list-style: none;
	padding-left: 2px;
}

.stageList h4 {
	font-size: 20px;
}

input {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
  text-align: center;
}

input.question {
  font-size: 28px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; 
  border-bottom: 3px solid powderblue;

}

input.question:focus {
  outline: none;
}

.algoText {
	margin: 0;
	padding-left: 40%;
	padding-right: 35%;
	padding-top: 10%;
	padding-bottom: 2%;
	
}

.objectivesCard {
	display: flex;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 95%;
	height: 200px;
	margin-bottom: 50px;
	margin-left: 5%;
	background-color: #d6d6d6;
}

.objectivesCardContainer {
	background-color: #d6d6d6;

}

.objectivesCard:hover {
	border-bottom: 3px solid #ff9500;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.linContent {
	position: relative;
	width: 95%;
	display: table;
	height: 95%;
}

.objectivesCardContainer h2 {
	padding: 9px 10%;
	width: 100%;
	background-color: #d6d6d6;
}

.tocList li {
	padding-left: 40px;
	width: 100%;
	background-color: #d6d6d6;

}

.tocList {
	width: 100%;
	list-style: none;
	background-color: #d6d6d6;

}

.tocA {
	background-color: #d6d6d6;
}

.regressionDefCard {
	display: inline-flex;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 35%;
	height: 200px;
	margin-bottom: 50px;
	margin-left: 5%;
}

.regressionDefCard:hover {
	border-bottom: 3px solid #de99c1;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.regressionDefCardContainer h2 {
	padding: 9px 25px;
	width: 100%;
	background-color: #ffcdbd;
}

.defCategory, .regDef {
	padding: 9px 25px;
	margin-top: -10px;
	background-color: #ffcdbd;
}

.defCategory {
	opacity: 0.6;
}

.regDef .simpleRegDesc {
	line-height: 150%;
}

.regressionDefCardContainer {
	background-color: #ffcdbd;
}

.regressionDefCardContainer span {
	background-color: #ffcdbd;
}

.regressionDefCardContainer:hover span {
	border-bottom: 3px solid #de99c1;
	transition: all 0.3s ease 1s;
	background-color: #f7ed2d;
}

.simpleRegIntroCard {
	display: inline-flex;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 55%;
	height: 100px;
	margin-bottom: 50px;
	margin-left: 5%;
}


.simpleRegIntroCard h2 {
	display: flex;
	justify-content: center;
	line-height: 1.8;
	width: 100%;
	background-color: #b4f72d;
}

.simpleRegIntroCardContainer {
	background-color: #b4f72d;
	width: 100%;
}

.simpleRegDesc {
	padding-left: 14.5%;
	line-height: 2;
	background-color: #b4f72d;
}

.simpleRegIntroCardContainer span {
	background-color: #b4f72d;
}

.simpleRegIntroCardContainer:hover span {
	border-bottom: 3px solid #8ecf7a;
	transition: all 0.3s ease 1s;
	background-color: #f7ed2d;
}

.simpleRegIntroCard:hover {
	border-bottom: 3px solid #8ecf7a;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-form, .profile-form, .confirm-form {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.profile-form{
	margin-top: 40px;
	border-bottom: 3px solid lightcyan;
}

.form-container-confirm {
	display: block;
}

.confirm-form {
	display: block;
	width: 30%;
	margin-left: 35%;
	margin-top: 100px;
	background-color: #F0A7A0;
	border-radius: 50px;
}

.form-group-down-confirm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
	background-color: #F0A7A0;
}

#id_new_password1, #id_new_password2 {
	margin: 0;
}

#div_id_new_password1 label, #div_id_new_password2 label {
	display: none;
}

#div_id_new_password1 ul {
	display: none;
}

.form-group-login, .form-container-confirm, .form-group-profile, .form-group-create, #div_id_password1, #div_id_password2, #div_id_username, #div_id_linkedin_link, #div_id_twitter_link, #div_id_insta_link, #div_id_fb_link, #div_id_password, .form-group-down, .forgot-option-link, .other-auth-container, .auth-desc, #google-icon {
	background-color: #F0A7A0;
}

#id_username, #id_password, #id_email, #id_password1, #id_new_password1, #id_password2, #id_new_password2 {
	outline: none;
	border: 2px solid #F0A7A0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

#id_password2 {
	margin-left: 33%;
}

#id_new_password2 {
	margin-left: 0%;
}

#div_id_password2 {
	display: block;
}

#error_1_id_password2, #error_1_id_new_password2, #error_2_id_new_password2, #error_3_id_new_password2, #error_2_id_password2, #error_3_id_password2, #error_1_id_email {
	background-color: #F0A7A0;
	color: darkred;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-align: center;
}

#error_1_id_password2 strong, #error_1_id_new_password2 strong, #error_2_id_new_password2 strong, #error_3_id_new_password2 strong, #error_2_id_password2 strong, #error_3_id_password2 strong, #error_1_id_email strong {
	background-color: #F0A7A0;
}

#div_id_password1 label, #div_id_password2 label, #div_id_image label {
	display: none;
}

#div_id_image div, #div_id_image input, #div_id_image a {
	font-size: 12px;
	text-align: center;
	line-height: 1.4;
	background-color: #F0A7A0;
}

#div_id_image {
	background-color: #F0A7A0;
}

#div_id_username, #div_id_bio, #div_id_quote, #div_id_fb_link, #div_id_insta_link, #div_id_twitter_link, #div_id_linkedin_link, #div_id_email, #div_id_password1, #div_id_password2, #div_id_image {
	padding-bottom: 10px;
}


.logo-login, #logo-link {
	background-color: #F0A7A0;
}

.logo-container-login, .form-container-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F0A7A0;
	padding-bottom: 20px;
}

.form-container-profile {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

.form-group-login, .form-group-signup, .form-group-reset, .form-group-create {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 25px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 30%;
	height: fit-content;
	margin-top: 10%;
	display: block;
	justify-content: center;
	align-items: flex-start;
	border: none;
	margin-bottom: 10px;
	transition: all 0.4s ease 0s;
}

.form-group-profile {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 25px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	transition: all	0.4s ease 0s;
	margin-bottom: 30px;
	border: none;
	margin-left: 30px;
}

.form-group-profile:hover {
	border: 3px solid red;
}

.form-group-create {
	border: 3px solid blue;
}

.form-group-signup {
	width: 50%;
}

.form-group-down {
	display: flex;
	justify-content: center;
	align-items: center;
}



.login-btn, .sign-up-btn, .reset-btn, .post-btn, .update-btn {
	width: 30%;
	border-radius: 50px;
	height: 30px;
	border: none;
	background: linear-gradient(to right, #f1da36 0%,#fca86c 99%);
	transition: all 0.5s ease 0s;
}

.reset-btn {
	width: fit-content;
	padding: 2px 10%;
}

.update-btn {
	margin-bottom: 15px;
}

.sign-up-btn, .post-btn {
	margin-bottom: 10px;
}

.login-btn:hover, .update-btn:hover, .sign-up-btn:hover, .reset-btn:hover, .post-btn:hover {
	transform: scale(1.2);
	background: linear-gradient(45deg, #f1da36 0%,#fca86c 99%);
}



.forgot-option-link {
	display: flex;
	margin-top: -20px;
	padding-bottom: 10px;
	color: darkslategray;
	font-size: 14px;
	justify-content: center;
	align-items: center;
}

.other-auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.auth-desc {
	display: block;
	color: gray;
	font-size: 14px;
}

#google-icon {
	color: black;
	padding-top: 10px;
	padding-left: 45%;
	cursor: pointer;
	padding-bottom: 10px;
}


.m-0 li, #hint_id_username {
	display: block;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	background-color: #F0A7A0;
	padding-bottom: 5px;
	color: darkred;
	margin: 0;
}



fieldset:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

legend {
  background-color: #ffde4d;
  font-family: "Roboto", sans-serif;
  color: dark-gray;
  padding: 5px 10px;
}

.form-container, .form-container-create {
	padding: 30px;
	font-family: "Roboto", sans-serif;
	background-color: #F0A7A0;
}

.form-container-create {
	background-color: white;
}

input, select {
  margin: 5px;
  border: 1px solid black;
  font-size: 16px;
  color: #543deb;
}

.login-option, .form-group-down-create, .form-group-down-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

.form-group-down-profile {
	background-color: #F0A7A0;
}

.login-option {
	margin-top: 1px;
}

.rocket-stages-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.s1-img, .s2-img, .s3-img {
	
	margin: -30px 5%;
	border: none;
	outline: none;
	transform: scale(0.5) rotate(90deg);
}

.s1-img {
	animation: slide-in 4s forwards;
  -webkit-animation: slide-in 4s forwards infinite;
  z-index: 2;
}

.s2-img {
	animation: slide-in-s2 4s forwards;
  -webkit-animation: slide-in-s2 4s forwards infinite;
	z-index: 1;
}

.s3-img {
	animation: slide-in-s3 4s forwards;
  -webkit-animation: slide-in-s3 4s forwards infinite;
  z-index: 0;
}

@keyframes slide-in {
    50% {
    	transform:  scale(0.5) rotate(90deg) translateY(-240px);
    }
}

@keyframes slide-in-s2 {
    50% {
    	transform:  scale(0.5) rotate(450deg);
    }
}

@keyframes slide-in-s3 {
    50% {
    	transform:  scale(0.5) rotate(90deg) translateY(250px);
    }
}



.delete-btn {
	font-family: "Roboto", sans-serif;
	font-size: 100px;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border: 3px solid #b54dff;
  background-color: #b54dff;
  border-radius: 20px;
  transition: all 0.4s ease 0s;
  margin-bottom: 5px;
}

.sign-up-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border: 3px solid #4dffb2;
	background-color: #4dffb2;
	color: black;
}

.delete-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border: 3px solid red;
	background-color: red;
	color: black;
}

.login-option-link-ml-2, .delete-option-link-ml-2 {
	color: blue;
	margin-left: 2px;
	font-size: 14px;
}

.delete-option-link-ml-2, .delete-option-text {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
}

.delete-option-text {
	padding-left: 10px;
}

.join-form-legend {
	font-size: 20px;
	font-weight: bold;
	display: flex;
}

.join-form-legend span {
	background-color: #ffde4d;
	color: red;
	font-weight: 900;
}

.alert-success {
	padding-top: 5%;
	background-color: #7fff4d;
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.content-section {
	position: relative;
	width: 100%;
	display: block;
	height: 95%;
}

.trash {
	transform: scale(0.7);
}


#div_id_email, #div_id_bio, #div_id_quote {
	background-color: #F0A7A0;
}

#hint_id_password1 ul, #hint_id_password2 {
	display: none;
}

#div_id_username div, #div_id_bio div, #div_id_quote div, #div_id_fb_link div, #div_id_insta_link div, #div_id_twitter_link div, #div_id_linkedin_link div, #div_id_password1 div, #div_id_password2 div, #div_id_new_password2 div {
	display: block;
	background-color: #F0A7A0;
}

#div_id_username label {
	display: none;
}

#div_id_fb_link label, #div_id_insta_link label, #div_id_linkedin_link label, #div_id_twitter_link label {
	background-color: transparent;
}

#div_id_fb_link i, #div_id_insta_link i, #div_id_linkedin_link i, #div_id_twitter_link i {
	background-color: transparent;
}

#div_id_password label {
	display: none;
}

#div_id_title label, #div_id_audience label, #div_id_content label {
	display: none;
}

#id_username::placeholder, #id_password::placeholder, #id_email::placeholder, #id_title::placeholder, #id_new_password1::placeholder, #id_password1::placeholder, #id_new_password2::placeholder, #id_password2::placeholder {
	opacity: 0.5;
}

.form-group-reset {
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	width: 30%;
	height: 110px;
	background-color: #F0A7A0;
	padding-top: 10px;

}

.form-group-down-reset {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F0A7A0;
	margin-top: 20px;
}

.reset-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0A7A0;
}

.form-group {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}


#hint_id_username {
	display: none;
}

#div_id_email label {
	display: none;
}

#div_id_bio label {
	display: none;
}

#div_id_quote label {
	display: none;
}

#id_bio, #id_quote {
	color: gray;
}

.media-card, .yp-container, .yp-posts-container {
	display: flex;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	width: 55%;
	height: fit-content;
	margin-left: 25%;
	margin-top: 80px;
	justify-content: center;
	transition: all 0.3s ease 0s;
	border-bottom: 5px solid #2379db;
}

.media-card:hover {
	border-bottom: 5px solid #ff2f00;
}


.media-body {
	display: block;
	margin: 10px;
	justify-content: center;
}

.round-account-img, .round-account-img-p {
	display: block;
	border-radius: 100%;
	margin: 0;
}

.round-account-img {
	display: inline-flex;
	width: 100%;
	transform: scale(0.8);
	border: 2px solid #2379db;
}

.round-account-img:hover {
	border: 2px solid #ff2f00;
}


.round-account-img-p {
	width: 32%;
	height: 32%;
	transition: all 0.3s ease 0s;
}

.round-account-img-p:hover {
	border-bottom: 3px solid #d63a3a;
}

.account-heading {
	display: flex;
	justify-content: center;
	padding-top: 0px;
}

p.account-email-text {
	display: flex;
	justify-content: center;
}

#post-create-link {
	background: white;
	transform: scale(1.5);
	transition: all 0.4s ease 0s;
	color: #63bf2e;
	border-radius: 50%;
}

#post-create-link:hover {
	transform: scale(2);
	box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.2);
}

.reset-done-container {
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: -20%;
	width: 100%;
	transform: scale(0.3);
	transition: all 1.4s ease 0s;
}

.form-group-delete {
	border: none;
	height: 600px;
}

.form-group-down-delete {
	margin-top: -80%;
}

.delete-container {
	margin: 0;
	margin-top: -45%;
	transform: scale(0.3);
	transition: all 1.4s ease 0s;
}

.reset-complete-container {
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5%;
	transform: scale(0.3);
	transition: all 1.4s ease 0s;
}

.mail-desc-container {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 100%;

}

.check-mail-h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 100px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.mail-span {
	margin-left: 20px;
	color: #DE8787;
}

.check-mail-small {
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
}

.reset-done-container:hover, .reset-complete-container:hover {
	transform: scale(0.4);
}

#div_id_new_password1, #div_id_new_password2 {
	padding-top: 20px;
	background-color: #F0A7A0;
}

.form-group-confirm {
	border: none;
}

.form-group-confirm:hover {
	box-shadow: none;
}


.socials-images {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.socials-images i {
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.socials-images i:hover {
	transform: scale(1.5);
}

.yp-container, .yp-posts-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	height: 55px;
	margin-top: 30px;
	background-color: #FFDC00;
	border: 3px solid midnightblue;
	border-bottom: none;
	border-radius: 0;
	z-index: 1;
}

#yp-h2 {
	padding-right: 50px;
	padding-left: 50px;
	color: #A20021;
	letter-spacing: 1px;
	font-style: italic;
	background-color: transparent;
}


.yp-container i {
	transform: scale(1.5);
	color: midnightblue;
	background-color: transparent;
}

#right-arrow-rocket {
	transform: rotate(180deg) scale(1.5);
}
	
.yp-posts-container {
	margin-top: -5px;
	z-index: 0;
	background-color: #C4C4C4;
	border-bottom: 3px solid midnightblue;
	height: fit-content;
	display: block;
}

.post-card {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	border-top: 2px solid midnightblue;
}

.post-card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-top: 0.3px solid midnightblue;
	background-color: #e6e6e6;
}

#empty-heart-ic, #unhelp-ic, #bla-ic, #wor-ic {
	border: none;
	background-color: transparent;
	color: #017143;
}

.post-card-container h2, .post-title-link {
	background-color: transparent;
}

.stats {
	background-color: transparent;
	padding-top: 5px;
	transition: all 0.4s ease 0s;
}

.stats i, span {
	background-color: transparent;
}

.post-card-container:hover {
	background-color: #c2d9ff;
}

.post-card-container:hover .stats {
	transform: translateX(-10px) scale(1.1);
}